<template>
  <v-layout row justify-center>
    <v-dialog
      v-model="dialog"
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
      @click:outside="closeDialog"
    >
      <v-card>
        <v-card-title class="headline">
          <v-icon size="large">mdi-cube</v-icon>
          Block: {{block.hash}}
          <div class="flex-grow-1"></div>
          <v-btn icon color="primary" @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row no-gutters>
              <v-col class="col-md-6">
                <v-container fluid>
                  <v-row class="text-left" no-gutters>
                    <v-col>
                      <v-tooltip right>
                        <template v-slot:activator="{ on }">
                          <v-icon left v-on="on">mdi-help-circle</v-icon>
                        </template>
                        <span>{{blockInfo[0].tooltip}}</span>
                      </v-tooltip>{{blockInfo[0].name}} :
                    </v-col>

                    <v-col class="flex-nowrap">
                      <a @click="loadByHashPrev">
                        <v-icon left>mdi-page-previous</v-icon>
                      </a>
                      {{blockInfo[0].value}}
                      <a @click="loadByHashNext">
                        <v-icon left>mdi-page-next</v-icon>
                      </a>
                    </v-col>
                  </v-row>

                  <v-row no-gutters class="text-left" v-for="(item,i) in blockInfo.slice(1,10)" :key="i">
                    <v-col>
                      <v-tooltip activator="on" right>
                        <template v-slot:activator="{ on }" >
                          <v-icon left v-on="on" >mdi-help-circle</v-icon>
                        </template>
                        <span>{{item.tooltip}}</span>
                      </v-tooltip>{{item.name}} :
                    </v-col>
                    <v-col v-if="item.name == 'Previous block hash'"><a @click="loadByHashPrev">{{item.value}}</a></v-col>
                    <v-col v-else>{{item.value}}</v-col>
                  </v-row>
                </v-container>
              </v-col>
              <v-col col="6" md>
                <v-container>
                  <v-row no-gutters class="text-left" v-for="(item,i) in blockInfo.slice(10)" :key="i">
                    <v-col>
                      <v-tooltip activator="on">
                        <template v-slot:activator="{ on }">
                          <v-icon left v-on="on">mdi-help-circle</v-icon>
                        </template>
                        <span>{{item.tooltip}}</span>
                      </v-tooltip>{{item.name}} :
                    </v-col>
                    
                    <v-col>{{item.value}}</v-col>
                  </v-row>

                </v-container>
              </v-col>
            </v-row>
          </v-container>
          <v-container fluid>
            <v-card class="mx-auto">
              <v-card-title>
                <v-icon size="large">mdi-stack-exchange</v-icon>Transactions
                <v-chip class="ma-2" color="primary">{{block.transactions.length}}</v-chip>
              </v-card-title>
              <v-card-text>
                <v-simple-table height="100">
                  <thead>
                    <tr>
                      <th class="text-left">№</th>
                      <th class="text-left">Hash</th>
                      <th class="text-left">Fee</th>
                      <th class="text-left">Total Amount</th>
                      <th class="text-left">Size</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      class="text-left"
                      v-for="(item,index) in block.transactions"
                      :key="item.hash"
                    >
                      <td>{{ index }}</td>
                      <td @click="loadTransactionByHash(item.hash)">
                        <a>{{ item.hash }}</a>
                      </td>
                      <td>{{ getReadableCoins(item.fee, 4, true) }}</td>
                      <td>{{ getReadableCoins(item.amount_out, 4, true) }}</td>
                      <td>{{ formatBytes(parseInt(item.size)) }}</td>
                    </tr>
                  </tbody>
                </v-simple-table>
                <Transaction
                  v-if="tansactionResult"
                  v-on:search:block="loadByHash"
                  v-on:update:dialog="dialog2 = false"
                  :dialog2="dialog2"
                  :tansactionResult="tansactionResult"
                />
              </v-card-text>
            </v-card>
          </v-container>
        </v-card-text>
        <!-- <v-card-actions>
          <v-btn @click="close">Close</v-btn>
        </v-card-actions>-->
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
/* eslint-disable */

import formats from "../mixins/formats";
import Transaction from "./Transaction.vue";
export default {
  mixins: [formats],
  props: {
    dialog: {
      default: false
    },
    block: {
      default: null
    }
  },
  components: {
    Transaction
  },
  computed: {
    blockInfo() {
      let resultReturn = [];
      resultReturn.push(
        {
        name: "Height",
        value: this.block.height,
        tooltip:
          "Block index in the chain, counting from zero (i.e. genesis block)."
      },
      {
        name: "Depth",
        value: this.block.depth,
        tooltip:
          "Block depth from the tip of the chain."
      },
      {
        name: "Previous block hash",
        value: this.block.prev_hash,
        tooltip:
          "The hash of previous block."
      },
      {
        name: "Timestamp",
        value: this.formatDate(this.block.timestamp),
        tooltip:
          "Block timestamp displayed as UTC. The timestamp correctness it up to miner, who mined the block."
      },
      {
        name: "Version",
        value: this.block.version,
        tooltip:
          "“major version”.“minor version”"
      },
      {
        name: "Difficulty",
        value: this.block.difficulty,
        tooltip:
          "How difficult it is to find a solution for the block. More specifically, it`s mathematical expectation for number of hashes someone needs to calculate in order to find a correct nonce value solving the block."
      },
      {
        name: "Cumulative difficulty",
        value: this.block.cumulativeDifficulty,
        tooltip:
          "Cumulative difficulty is the sum of all block's difficulties up to this block including."
      },
      {
        name: "Nonce",
        value: this.block.nonce,
        tooltip:
          "The nonce a field whose value is adjusted by miners so that the hash of the block will meet difficulty requirement. Any change to the block data (such as the nonce) will make the block hash completely different."
      },
      
      {
        name: "Orphan",
        value: this.block.orphan_status,
        tooltip:
          "True, if the block belongs to an alternative chain. In such case all the transactions, excluding coinbase, are removed from the block back to transaction pool to be included in another block. It means there is no reward for the miner."
      },
      {
        name: "Total block size",
        value: this.formatBytes(parseInt(this.block.blockSize)),
        tooltip:
          "Size of the whole block, i.e. block header plus all transactions."
      },
      {
          name: "Total coins in the network",
          value: this.block.alreadyGeneratedCoins,
          tooltip: "Cumulative amount of coins issued by all the blocks in blockchain from the genesis and up to this block."
      },
      {
          name: "Total transactions in the network",
          value: this.block.alreadyGeneratedTransactions,
          tooltip: "Cumulative number of transactions in the blockchain, from the genesis block and up to this block.:"
      },{

        name: "Total transactions size",
        value: this.formatBytes(parseInt(this.block.transactionsCumulativeSize)),
        tooltip: "Cumulative size of all transactions in the block, including coinbase. In case it's exceeding 'effective txs median' the reward penalty occurs and therefore miner receives less reward."
      },{
        name:"Current txs median",
        value : this.formatBytes(parseInt(this.block.sizeMedian)),
        tooltip: "Median value of block total transactions size among last n blocks."
      },
      {
        name:"Effective txs median",
        value : this.formatBytes(parseInt(this.block.effectiveSizeMedian)),
        tooltip: "Bounded from below median value that is actually used to calculate penalty. More specifically, <effective median> = max(<current median>, 20000)"
      },
      {
         name: "Reward penalty",
         value: this.block.penalty*100+"%",
         tooltip: "Penalty for exceeding the median. <penalty> = (<total transactions size> / <effective tx median> − 1) ^ 2. No penalty if total transactions size is less then effective median. Penalty is near 100% if total txs size is twice the effective median. Greater blocks are not allowed."

      },{
       name: "Base reward",
       value: this.block.baseReward,
       tooltip: "Base value for calculating the block reward. Does not depend on how many transactions are included into the block. Also, this is how many coins the miner would receive if the block contains only coinbase transaction."
      },
      {
       name: "Transactions fees",
       value: this.block.totalFeeAmount,
       tooltip: "Sum of fees for all transactions in the block."
      },
      {
       name: "Reward",
       value: this.block.reward,
       tooltip: "Actual amount of coins the miner received for finding the block. <reward> = <base reward> × (1 − <penalty>) + <transactions fee>"
      }
   
      );
      return resultReturn;
    }
  },
  data: () => ({
    tansactionResult: null,
    dialog2: false,
    tooltips: [
      "Block index in the chain, counting from zero (i.e. genesis block).",
      "Block depth from the tip of the chain.",
      "The hash of previous block.",
      "Block timestamp displayed as UTC. The timestamp correctness it up to miner, who mined the block.",
      "“major version”.“minor version”",
      "How difficult it is to find a solution for the block. More specifically, it`s mathematical expectation for number of hashes someone needs to calculate in order to find a correct nonce value solving the block.",
      "Cumulative difficulty is the sum of all block's difficulties up to this block including.",
      "The nonce a field whose value is adjusted by miners so that the hash of the block will meet difficulty requirement. Any change to the block data (such as the nonce) will make the block hash completely different.",      "True, if the block belongs to an alternative chain. In such case all the transactions, excluding coinbase, are removed from the block back to transaction pool to be included in another block. It means there is no reward for the miner.",
      "Size of the whole block, i.e. block header plus all transactions.",
      "Cumulative amount of coins issued by all the blocks in blockchain from the genesis and up to this block.",
      "Cumulative number of transactions in the blockchain, from the genesis block and up to this block.",
      "Cumulative size of all transactions in the block, including coinbase. In case it's exceeding 'effective txs median' the reward penalty occurs and therefore miner receives less reward.",
      "Median value of block total transactions size among last n blocks.",
      "Bounded from below median value that is actually used to calculate penalty. More specifically, <effective median> = max(<current median>, 20000)",
      "Penalty for exceeding the median. <penalty> = (<total transactions size> / <effective tx median> − 1) ^ 2. No penalty if total transactions size is less then effective median. Penalty is near 100% if total txs size is twice the effective median. Greater blocks are not allowed.",
      "Base value for calculating the block reward. Does not depend on how many transactions are included into the block. Also, this is how many coins the miner would receive if the block contains only coinbase transaction.",
      "Sum of fees for all transactions in the block.",

      "Actual amount of coins the miner received for finding the block. <reward> = <base reward> × (1 − <penalty>) + <transactions fee>",
      "Number of transactions in the block, including coinbase transaction (which transfers block reward to the miner)."
    ]
  }),
  methods: {
    getKeyOffset: function(item) {
      if (item.data.input.key_offsets)
        return item.data.input.key_offsets.join(" • ");
      else return "";
    },
    getInputAmount: function(item) {
      if (item.data.amount)
        return (item.data.amount / this.coinUnits).toFixed(12);
      else {
        return (item.data.input.amount / this.coinUnits).toFixed(12);
      }
    },
    loadTransactionByHash: function(hash) {
      this.$store.dispatch("getTransactionByHash", hash).then(response => {
        if (response.data.result) {
          this.tansactionResult = response.data.result;
          this.dialog2 = true;
        }
      });
    },

    closeDialog: function() {
      // this.dialog= false;
      this.$emit("update:dialog", false);
      this.dialog2 = false;
      this.tansactionResult = null;
      console.log(this.dialog, "call dialog");
    },
    getBlockheaderbyHeight: function(height) {
      this.$store.dispatch("getBlockheaderbyHeight", height).then(response => {
        if (response.data.result) {
          let nextBlockHash = response.data.result.block_header.hash;
          this.$emit("prev_hash", nextBlockHash);
        }
      });
    },
    loadByHashNext: function() {
      console.log("next_hash: " + this.block.next_hash);
      this.getBlockheaderbyHeight(this.block.height + 1);
    },
    loadByHashPrev: function() {
      console.log("prev_hash: " + this.block.prev_hash);
      this.$emit("prev_hash", this.block.prev_hash);
    },
    loadByHash: function(hash) {
      this.$emit("prev_hash", hash);
    }
  }
};
</script>