<template>
<v-card class="mx-auto">

    <v-container>
  
  <v-simple-table dense>
    <thead>
      <tr>
        <th class="text-left">Height</th>
        <th class="text-left">Date & time</th>
        <th class="text-left">Size</th>
        <th class="text-left">Block Hash</th>
        <th class="text-left">Difficulty</th>
        <th class="text-left">Txs</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in blocks" :key="item.hash">
        <td>{{ item.height }}</td>
        <td>{{ formatDate(item.timestamp) }}</td>
        <td>{{ formatBytes(item.cumul_size) }}</td>
        <td>
          <a @click.self="loadByHash(item.hash)">{{ item.hash }}</a>
        </td>
        <td>{{ item.difficulty }}</td>
        <td>{{ item.tx_count }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" class="text-center">
          <div class="text-center">
            <v-btn @click.stop="Next" class="ma-2" :loading="loading" :disabled="loading">Next</v-btn>
          </div>
          <v-overlay :value="loading">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
          </v-overlay>
          <Block v-if="block" :dialog="dialog" :block="block" v-on:update:dialog="closeDialog" v-on:next_hash="loadByHash" v-on:prev_hash="loadByHash"/>

        </td>
      </tr>
    </tfoot>
  </v-simple-table>
    </v-container>
  </v-card>
  
</template>
<script>
/* eslint-disable */
import Block from "./Block.vue";


export default {
  data: () => ({
    dialog: false,
    //height: null,
    supply: null,
    
    loading: false,
    block: null
  }),
  components: {
    Block
  },
  computed:{
    blocks() {
      return this.$store.state.blocks;
    },
    height() {
      return  this.$store.state.nodeInfo.height-1;
    }

  },
   watch: {
    blocks(newValue, oldValue) {
      if(oldValue.length<newValue.length){
        this.loading = false;
      }
      
    }
  },
  methods: {
    closeDialog: function(){
        this.dialog = false;
        console.log(" dialog is",this.dialog);
    },
    loadByHash: function(hash) {
      console.log("call loadByHash "+hash);
      this.loading = true;
      this.$store
        .dispatch("loadByHash", hash)
        .then(response => {
          this.block = response.data.result.block;
          this.dialog = true;
          this.loading = false;
        })
  
    },
    Next: function() {
      console.log("call Next "+this.dialog);
      this.loading = true;
      //this.dialog = false;
      let height;
      let minHeight = this.blocks.reduce((accumulator, currentValue) =>
        accumulator < currentValue.height ? accumulator : currentValue.height
      );
      height = minHeight - 1;

      this.$store
        .dispatch("loadBlocksByHeight",height)
        .then(response => {
          this.loading = false;
     
        });
    },
    formatDate: function(time) {
      if (!time) return "";
      return new Date(parseInt(time) * 1000).toLocaleString();
    },

    formatBytes: function(a, b) {
      if (0 == a) return "0 Bytes";
      var c = 1024,
        d = b || 2,
        e = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"],
        f = Math.floor(Math.log(a) / Math.log(c));
      return parseFloat((a / Math.pow(c, f)).toFixed(d)) + " " + e[f];
    }
  },
  mounted() {
    this.loading = true;

  }
};
</script>