<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="3">
        <v-card
          class="mx-auto col-md-auto text-nowrap"
          min-height="144"
          max-width="344"
          min-width="300"
          outlined
          :elevation="6"
        >
          <v-card-text>
            <p class="text--primary text-nowrap">
              <v-icon size="small" large>mdi-wunderlist</v-icon>
              Supply: {{ getSupply }} KRB
            </p>
            <p class="text--primary">
              <v-icon size="small" large>mdi-bank</v-icon>
              Emission: {{ getEmissionPercent }}
            </p>
            <p class="text--primary">
              <v-icon size="small" large>mdi-percent</v-icon>
              Min. fee: {{ fee }} KRB
            </p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="3">
        <v-card
          class="mx-auto col-md-auto"
          min-height="144"
          max-width="344"
          min-width="300"
          outlined
          :elevation="6"
        >
          <v-card-text>
            <p class="text--primary">
              <v-icon size="small" large>mdi-format-list-numbered</v-icon>
              Network Height: {{ getNetworkHeight }}
            </p>
            <p class="text--primary">
              <v-icon size="small" large>mdi-stack-exchange</v-icon>
              Transactions: {{ getTransactions }}
            </p>
            <p class="text--primary">
              <v-icon size="small" large>mdi-certificate</v-icon>
              Reward: {{ getReward }} KRB
            </p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="3">
        <v-card class="mx-auto col-md-auto" max-width="344" min-width="300" outlined :elevation="6">
          <v-card-text>
            <p class="text--primary">
              <v-icon size="small" large>mdi-clock-out</v-icon>
              Avg. Hash Rate: : {{ avgHashRate }}
            </p>
            <p class="text--primary">
              <v-icon size="small" large>mdi-clock</v-icon>
              Est. solve time: : {{ blockSolveTime }}
            </p>
            <p class="text--primary">
              <v-icon size="small" large>mdi-clock</v-icon>
              Avg. solve time: : {{ avgSolveTime }}
            </p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="3">
        <v-card
          class="mx-auto col-md-auto"
          min-height="144"
          max-width="344"
          min-width="300"
          outlined
          :elevation="6"
        >
          <v-card-text>
            <p class="text--primary">
              <v-icon size="small" large>mdi-link-lock</v-icon>
              Next Difficulty: : {{ getNetworkDifficalty }}
            </p>
            <p class="text--primary">
              <v-icon size="small" large>mdi-door-closed-lock</v-icon>
              Average Difficulty : {{ avgDiff }}
            </p>
            <p class="text--primary">
              <v-icon size="small" large>mdi-speedometer</v-icon>
              Hash Rate: {{ getHashRate }}
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import formats from "../mixins/formats";

export default {
  mixins: [formats],
  data: () => ({
    fee: null,

    networkDifficulty: null,
    networkHashrate: null
    
  }),
  computed: {
    blockSolveTime(){
      return (this.$store.state.nodeInfo.difficulty/(this.$store.getters.avgDiff/this.blockTargetInterval)).toFixed(2)
    },
    avgSolveTime(){
      return this.$store.getters.avgSolveTime.toFixed(2);
    },
    avgHashRate() {
      return this.getReadableHashRateString(this.$store.getters.avgDiff/this.blockTargetInterval);
    },
    avgDiff() {
      return this.getReadableDifficultyString(
        this.$store.getters.avgDiff,
        2
      ).toString();
    },
    getHashRate() {
      return this.getReadableHashRateString(
        this.$store.state.nodeInfo.difficulty / this.blockTargetInterval
      );
    },
    getNetworkHeight() {
      return this.$store.state.nodeInfo.height;
    },

    getReward() {
      return parseInt(
        this.$store.state.nodeInfo.last_block_reward / this.coinUnits
      ).toFixed(4);
    },
    getTransactions() {
      return this.$store.state.nodeInfo.tx_count;
    },
    getNetworkDifficalty() {
      return this.getReadableDifficultyString(
        this.$store.state.nodeInfo.difficulty,
        2
      ).toString();
    },
    getSupply() {
      return parseInt(
        this.$store.state.lastBlock.alreadyGeneratedCoins / this.coinUnits
      ).toFixed(2);
    },
    getEmissionPercent() {
      return (
        parseInt(
          (this.$store.state.lastBlock.alreadyGeneratedCoins /
            10000000000000000000) *
            100
        ).toFixed(4) + "%"
      );
    }
  },
  created() {
    this.$store.dispatch("getInfo").then(() => {
      this.networkHeight = this.$store.state.nodeInfo.height;
      this.transactions = this.$store.state.nodeInfo.tx_count;
      this.networkDifficulty = this.$store.state.nodeInfo.difficulty;

      
    });
    this.$store.dispatch("getLastBlock");
  },
  mounted() {
    this.fee = 0.1;

    this.reward = parseInt(
      this.$store.state.lastBlock.baseReward / this.coinUnits
    ).toFixed(4);
    // this.transactions = this.$store.state.lastBlock.alreadyGeneratedTransactions;
  }
};
</script>