<template>
  <v-container class="mx-auto" tile :v-if="transactionspool.length">
    <v-container>
      <v-row>
        <v-col cols="12" sm="3">
             <v-card
          class="text-nowrap"
          outlined
          elevation="6"
        >
          <v-card-text  class="black--text">
            Count:
            
              <span class="float-right">{{count}}</span>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="3">
            <v-card
          class="text-nowrap"
          outlined
          elevation="6"
        >
          <v-card-text  class="black--text">
          
            Total Amount:
            
              <span class="float-right">{{totalAmount}}</span>
            
          </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="3">
          <v-card
          class="text-nowrap"
          outlined
          elevation="6"
        >
          <v-card-text  class="black--text">
          
            Total Fees:
           
              <span class="float-right">{{totalFees}}</span>
               
          </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="3">
           <v-card
          class="text-nowrap"
          outlined
          elevation="6"
        >
          <v-card-text class="black--text">
            Total Size:
            
              <span class="float-right">{{totalSize}}</span>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-container>
      <v-row>
        <v-col>
          <v-simple-table dense>
            <tbody>
              <tr v-for="item in transactionspool" :key="item.hash">
                <td>{{ getReadableCoins(item.amount_out,4) }}</td>
                <td>{{ formatDate(item.receiveTime) }}</td>
                <td>{{ item.hash }}</td>
                <td>{{ getReadableCoins(item.fee) }}</td>
                <td>{{ formatBytes(item.size) }}</td>
              </tr>
            </tbody>
          </v-simple-table>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
   
</template>

<script>
/* eslint-disable */

import formats from "../mixins/formats";
import Transaction from "./Transaction";

export default {
  mixins: [formats],
  components: {
    Transaction
  },
  computed: {
    totalSize() {
      return this.$store.state.transactionspool
        ? this.getReadableCoins(
            this.$store.state.transactionspool.reduce(
              (accum, item) => accum + item.size,
              0
            ),
            2
          )
        : 0;
    },
    totalFees() {
      return this.$store.state.transactionspool
        ? this.getReadableCoins(
            this.$store.state.transactionspool.reduce(
              (accum, item) => accum + item.fee,
              0
            ),
            2
          )
        : 0;
    },
    totalAmount() {
      return this.$store.state.transactionspool
        ? this.getReadableCoins(
            this.$store.state.transactionspool.reduce(
              (accum, item) => accum + item.amount_out,
              0
            ),
            2
          )
        : 0;
    },
    count() {
      return this.$store.state.transactionspool
        ? this.$store.state.transactionspool.length
        : 0;
    },
    transactionspool() {
      return this.$store.state.transactionspool ? this.$store.state.transactionspool: '';
    },
    height() {
      return this.$store.state.nodeInfo.height - 1;
    }
  },
  data: () => ({})
};
</script>