<template>
  <div style="max-height: 100px">
    <v-toolbar dense>
      <div>
        <span id="aroundCoin">
          <span id="coinIcon">Ҝ</span>
        </span>
      </div>
      <v-spacer></v-spacer>
      <v-toolbar-title>Explorer</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
        hide-details
        maxlength="64"
        prepend-icon="mdi-search-web"
        @click:prepend="appendIconSearch"
        @keyup.native="appendIconSearch"
        placeholder="Type hash..."
        class="form-control-sm"
        v-model="searchHash"
        :disabled="loading"
        full-width
      ></v-text-field>
      <v-spacer></v-spacer>

      <div>
        <v-switch v-model="$vuetify.theme.dark" label="Dark" color="primary" hide-details></v-switch>
      </div>
    </v-toolbar>
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <Block
      v-if="searchBlock"
      v-on:update:dialog="closeDialog"
      :dialog="dialog"
      :block="searchBlock"
      v-on:next_hash="loadByHash"
      v-on:prev_hash="loadByHash"
    />
    <Transaction
      v-if="searchTransaction"
      v-on:search:block="loadByHash"
      v-on:update:dialog="dialog2 = false"
      :dialog2="dialog2"
      :tansactionResult="searchTransaction"
    />
  </div>
</template>
<style scoped>
#coinIcon {
  text-transform: capitalize;
  width: 30px;
  height: 30px;
  font-size: larger;
  vertical-align: middle;
  color: #fff137;
  border: 2px solid #fff137;
  border-radius: 50%;
  text-align: center;
  margin-top: 0px;
  line-height: normal;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
#aroundCoin {
   display: flex;
  padding: 4px;
  background: blue;
  border-radius: 50%;
}
</style>
<script>
import Block from "./Block.vue";
import Transaction from "./Transaction.vue";
export default {
  data: () => ({
    dialog: false,
    dialog2: false,
    goDark: false,
    searchHash: "",
    searchBlock: null,
    searchTransaction: null,
    loading: false
  }),
  components: {
    Block,
    Transaction
  },
  methods: {
    closeDialog: function() {
      this.dialog = false;
    },
    loadByHash: function(hash) {
      this.$store
        .dispatch("loadByHash", hash)
        .then(response => {
          if (response.data.result) {
            this.searchBlock = response.data.result.block;
            this.dialog = true;
            this.loading = false;
          } else {
            this.$store
              .dispatch("getTransactionByHash", hash)
              .then(response => {
                this.searchTransaction = response.data.result;
                this.dialog2 = true;
                this.loading = false;
              });
          }
        })
        .catch(error => {
          this.loading = false;
        });
    },
    appendIconSearch() {
      if (this.searchHash.length > 63) {
        this.loading = true;
        this.loadByHash(this.searchHash);
      }
    }
  }
};
</script>