<template>
  <v-dialog hide-overlay transition="dialog-bottom-transition" scrollable v-model="dialog2">
    <v-card>
      <v-card-title class="headline">
        <v-icon size="large">mdi-stack-exchange</v-icon>
        Transaction: {{transaction.hash}}
        <div class="flex-grow-1">
          <v-btn color="primary" class="float-right" fab text @click="closeTransaction">
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </div>
      </v-card-title>
      <v-card-text>
        <v-simple-table>
          <template v-slot:default>
            <colgroup>
              <col style="width: 200px;" />
              <col />
            </colgroup>
            <thead>
              <tr>
                <th class="text-left">&nbsp;</th>
                <th class="text-left">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-left" v-for="(item,i) in transactionInfo" :key="i">
                <td scope="col" class="text-nowrap">
                  <v-tooltip right>
                    <template v-slot:activator="{ on }">
                      <v-icon left v-on="on">mdi-help-circle</v-icon>
                      {{item.name}}
                    </template>
                    <span>{{item.tooltip}}</span>
                  </v-tooltip>
                </td>
                <td>{{item.value}}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        <br />
        <h3 class="pa-3">
          <v-icon size="large">mdi-cube</v-icon>In block
        </h3>
        <v-card>
          <v-card class="pa-3" outlined tile>
            blockHash
            <a @click="openBlockByHash(transaction.blockHash)">{{transaction.blockHash}}</a>
          </v-card>
          <v-card class="pa-3" outlined tile>blockIndex: {{transaction.blockIndex}}</v-card>
        </v-card>

        <v-tabs>
          <v-tabs-slider></v-tabs-slider>

          <v-tab>
            Inputs
            <v-chip class="ma-2" color="primary">{{transaction.inputs.length}}</v-chip>
          </v-tab>
          <v-tab>
            Outputs
            <v-chip class="ma-2" color="primary">{{transaction.outputs.length}}</v-chip>
          </v-tab>
          <v-tab>
            Signatures
            <v-chip class="ma-2" color="primary">{{transaction.signatures.length}}</v-chip>
          </v-tab>
          <v-tab-item>
            <v-card flat tile>
              <v-card-text>
                <v-simple-table height="200px">
                  <thead>
                    <tr>
                      <th class="text-left">Amount</th>
                      <th class="text-left">Image</th>
                      <th class="text-left">Output Indexs</th>
                      <th class="text-left">Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-left" v-for="(item,i) in transaction.inputs" :key="i">
                      <td>{{getInputAmount(item)}}</td>
                      <td>{{item.data.input.k_image}}</td>
                      <td>{{getKeyOffset(item)}}</td>
                      <td>{{item.type}}</td>
                    </tr>
                  </tbody>
                </v-simple-table>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat tile>
              <v-card-text>
                <v-container fluid>
                  <v-simple-table height="200px">
                    <thead>
                      <tr>
                        <th class="text-left">Amount</th>
                        <th class="text-left">Key</th>
                        <th class="text-left">Output Index</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-left" v-for="(item,i) in transaction.outputs" :key="i">
                        <td>{{(item.output.amount/coinUnits).toFixed(12)}}</td>
                        <td>{{item.output.target.data.key}}</td>
                        <td>{{item.globalIndex}}</td>
                      </tr>
                    </tbody>
                  </v-simple-table>
                </v-container>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat tile>
              <v-card-text>
                <v-container fluid v-if="transaction.signatures.length">
                  <v-simple-table height="200px">
                    <thead>
                      <tr>
                        <th class="text-left">№</th>
                        <th class="text-left">Signature</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-left" v-for="(item,i) in transaction.signatures" :key="i">
                        <td>{{item.first}}</td>
                        <td>{{item.second}}</td>
                      </tr>
                    </tbody>
                  </v-simple-table>
                </v-container>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card-text>
      <v-card-actions></v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import formats from "../mixins/formats";
export default {
  mixins: [formats],
  props: {
    dialog2: {
      default: false
    },
    tansactionResult: {
      default: null
    }
  },
  computed: {
    transactionInfo() {
      let resultReturn = [];
      if (this.tansactionResult) {
        if (this.tansactionResult.transaction.paymentId)
          resultReturn.push({
            name: "  Payment ID",
            value: this.tansactionResult.transaction.paymentId,
            tooltip:
              "Optional user-defined hexadecimal characters string. Can be used by anyone to distinguish the transactions easier."
          });
        resultReturn.push(
          {
            name: " Sum of outputs",
            value: this.tansactionResult.transaction.totalOutputsAmount,
            tooltip:
              "It does not mean that this is the amount that is actually transferred."
          },
          {
            name: " UnlockTime",
            value: this.tansactionResult.transaction.unlockTime,
            tooltip:
              "Unlock time allows you to send a transaction to someone, such that they can not spend it until after a certain number of blocks, or until a certain time."
          },
          {
            name: " Size",
            value: this.tansactionResult.transaction.size,
            tooltip: "Size of the transaction in bytes."
          },
          {
            name: " Mixin",
            value: this.tansactionResult.transaction.mixin,
            tooltip:
              "Denotes how many random inputs are mixed within this transactions in order to achieve desired level of anonimity. Mixin count 1 means no additional inputs are mixed in and thus each input can be traced back."
          },

          {
            name: " Extra (raw)",
            value: this.tansactionResult.transaction.extra.raw,
            tooltip: "Raw unformatted extra transaction data structure."
          },
          {
            name: " Public Key",
            value: this.tansactionResult.transaction.extra.publicKey,
            tooltip:
              "The transaction Public Key, R, is in the extra part of the transaction data structure."
          },
          {
            name: " Confirmations",
            value:
              this.$store.state.nodeInfo.height -
              this.tansactionResult.transaction.blockIndex,
            tooltip: "The number of network confirmations."
          }
        );
        if (this.tansactionResult.transaction.mixin == 0)
          resultReturn = resultReturn.filter(
            item => item.name.toLowerCase().trim() != "mixin"
          );
        if (
          this.tansactionResult.transaction.paymentId ===
          "0000000000000000000000000000000000000000000000000000000000000000"
        )
          resultReturn = resultReturn.filter(
            item => item.name.toLowerCase().trim() != "payment id"
          );
      }
      return resultReturn;
    },
    transaction() {
      return this.tansactionResult ? this.tansactionResult.transaction : null;
    }
  },
  methods: {
    getKeyOffset: function(item) {
      if (item.data.input.key_offsets)
        return item.data.input.key_offsets.join(" • ");
      else return "";
    },
    getInputAmount: function(item) {
      if (item.data.amount)
        return (item.data.amount / this.coinUnits).toFixed(12);
      else {
        return (item.data.input.amount / this.coinUnits).toFixed(12);
      }
    },
    closeTransaction: function() {
      this.$emit("update:dialog", false);
    },
    openBlockByHash: function(hash) {
      this.$emit("search:block", hash);
    }
  },
  data() {
    return {};
  }
};
</script>