<template>
  <v-app>
    
    <v-card class="w-auto p-4">
      <v-sheet :elevation="6"
            class="mx-auto">
      <ToolBar/>
      <v-card-title>Stats</v-card-title>
      <NetworkStat />
      <v-card-title> Transaction pool </v-card-title>
      <Pool />
      <v-card-title> Recent blocks</v-card-title> 
      <BlockTable />
      <v-footer
       
      class="font-weight-medium justify-content-end"
    >
      <v-col
        class="text-center"
        cols="4"
      >
        {{ new Date().getFullYear() }} — <strong>Karbo</strong>
      </v-col>
      <v-col cols="4">
The source code under the GPL</v-col>
      <v-col
        class="text-right"
        cols="4"
      >
        Node info
        <div class="d-flex flex-row-reverse">
         
        <ul style="max-width: 300px" class="text-left">
          
          <li>Version: {{ nodeInfo.version }}</li>
          <li>Height: {{ nodeInfo.height }}</li>
          <li>Last block: {{ nodeInfo.last_known_block_index }}</li>
        </ul>
        </div>
      </v-col>
    </v-footer>
    </v-sheet>
    </v-card>
  </v-app>
</template>

<script>
import ToolBar from "./components/ToolBar";
import NetworkStat from "./components/NetworkStat";
import BlockTable from "./components/BlockTable";
import Pool from "./components/Pool";

export default {
  name: "App",
  components: {
    NetworkStat,
    BlockTable,
    ToolBar,
    Pool
  },
  data: () => ({
   polling: null
  }),
  computed: {
    nodeInfo(){
      return this.$store.state.nodeInfo;
    }
  },
  methods: {
	pollData () {
		this.polling = setInterval(() => {
			this.$store.dispatch('getInfoApdate')
		}, 30000)
	}
},
created () {
	this.pollData()
}
};
</script>
